<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="/img/logo.svg" alt="Unanet Logo" class="brand-image">
        <span class="brand-text font-weight-light">EVE Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar mt-2">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <template v-for="item in items">
                    <nav-item :item="item"></nav-item>
                </template>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
