<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <router-link class="brand-link"
                 :to="{ path: `/admin/dashboard`}">
        <img src="/img/logo.svg" alt="Unanet Logo" class="brand-image float-none">
        <span class="brand-text font-weight-light ml-1">Cloud Admin</span>
    </router-link>

    <!-- Sidebar -->
    <div class="sidebar mt-2">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <template v-for="item in items">
                    <nav-item :item="item"></nav-item>
                </template>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
