<div class="container-fluid">
    <!-- DONUT CHART -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Eve Entity Count</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <router-link v-for="item in items"
                             :key="item.metadata.link"
                             class="col-lg-3 col-6"
                             :to="{ path: `/admin/models/${item.metadata.link}`}">
                    <div class="small-box" :class="item.metadata.color ? item.metadata.color : 'bg-info'">
                        <div class="inner">
                            <h3>{{ item.count }}</h3>
                            <p>{{ item.metadata.name }}</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <p class="small-box-footer">
                            View Table <i class="fas fa-arrow-circle-right"></i>
                        </p>
                    </div>
                </router-link>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- DONUT CHART -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Entity Breakdown</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <chart-component :chartConfig="this.chartConfig" v-if="this.loaded"></chart-component>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
