<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <button v-if="shouldShowIndividualLayer()" type="button" class="btn btn-block btn-outline-primary">View model specific layers</button>

                    <layer-visualizer v-if="fetchedData" :layer-data="this.layerData" :layer-data-key="this.layerDataKey"></layer-visualizer>
                    <div v-if="fetchedData === true && this.layerData.layers.length === 0" class="alert alert-info mt-3 mb-0">
                        <i class="icon fas fa-ban"></i> No layer data is applied at this level
                    </div>
                    <div v-if="fetchedData === true && this.layerData.layers === null" class="alert alert-danger mt-3 mb-0">
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        Layer data was not returned from the API
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
